mixin button(className, text, border)
    if border
        button(class!=`button ${className}`)
            h3.button__text_color_purple= text
            div.button__border-gradient
                h3.button__text_color_purple= text
    else
        button(class!=`button ${className}`)
            h3.button__text= text

mixin buttonDisabled(className, text, border)
    button(class!=`button button_disabled ${className}` disabled)
        if border
            div.button__border-gradient
                h3.button__text_color_purple= text
        else
            h3.button__text= text

mixin linkButton(className, link, text, border)
    if border
        a(class!=`button ${className}` href=link)
            h3.button__text_color_purple= text
            div.button__border-gradient
                h3.button__text_color_purple= text
    else
        a(class!=`button ${className}` href=link)
            h3.button__text= text

mixin buttonWithoutFill(className, text, color)
    button(class!=`${className}`)
        h3(class!=`button__text_color_${color}`)= text

mixin buttonRound(className, text)
    button(class!=`button_round ${className}`)= text