mixin checkbox-with-discription(title, discription, value, className)
    label(class!=`checkbox ${className}`)
        input(type='checkbox' value= value)
        div.checkbox__text-block
            p.checkbox__title= title
            p.checkbox__discription= discription

mixin checkbox(title, value, className)
    label(class!=`checkbox ${className}`)
        input(type='checkbox' value= value)
        div.checkbox__text-block
            p.checkbox__title.checkbox__title_thin= title