extends common/layout

mixin ui-kit_color(discription, color)
    div.ui-kit_color
        div.ui-kit_color_block(class!= attributes.class)
        div.ui-kit_color_text
            p.ui-kit_color_text_discription= discription
            p.ui-kit_color_text_num= color

mixin ui-kit_text(title, example)
    div.ui-kit_text
        case title
            when "h1"
                h1.ui-kit_text_title.ui-kit_text_title_h1= title
                h1.ui-kit_text_example= example
            when "h2"
                h2.ui-kit_text_title.ui-kit_text_title_h2= title
                h2.ui-kit_text_example= example
            when "h3"
                h3.ui-kit_text_title.ui-kit_text_title_h3= title
                h3.ui-kit_text_example= example
            when "body"
                p.ui-kit_text_title.ui-kit_text_title_body= title
                p.ui-kit_text_example= example

block content
    div.ui-kit
        div.container.columns
            div.ui-kit_column-colors
                +ui-kit_color("Dark Shade 100%", "#1F2041")(class="bgc-dark100")
                +ui-kit_color("Dark Shade 75%", "#1F2041")(class="bgc-dark75")
                +ui-kit_color("Dark Shade 50%", "#1F2041")(class="bgc-dark50")
                +ui-kit_color("Dark Shade 25%", "#1F2041")(class="bgc-dark25")
                +ui-kit_color("Dark Shade 5%", "#1F2041")(class="bgc-dark5")
                +ui-kit_color("Purple", "#BC9CFF")(class="bgc-purple")
                +ui-kit_color("Green", "#6FCF97")(class="bgc-green")
            div.ui-kit_column-text
                +ui-kit_text("h1", "This one is the sub-section or widget title")
                +ui-kit_text("h2", "Next one is the item title inside widgets")
                +ui-kit_text("h3", "This is a label or CTA text")
                +ui-kit_text("body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
                