mixin field(className, title, inputClass, type, placeholder, formElementsTitle, icon, iconClass, readonly, dropdownArr)
    div(class!=`field ${className}`)
        if title
            h3.field__title= title
        div(class!=`field__wrapper`)
            if formElementsTitle
                p.form-elements__description-text= formElementsTitle
            input(class!=`field__input ${inputClass}`, type!= type, placeholder!= placeholder, readonly!= readonly, spellcheck='false')
            if icon
                i(class!=`field__icon material-icons ${iconClass}`)= icon
            if dropdownArr
                +dropdown(...dropdownArr)
